:root {
    --clr-red: #FF0000;
    --clr-orange: #FF8C00;
    --clr-yellow: #FFFF00;
    --clr-green: #008000;
    --clr-blue: #0000FF;
    --clr-purple: #4B0082;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    padding: 5%;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.controls {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 800px;
    height: 800px;
}

.controls button {
    height: 5em;
    aspect-ratio: 1;
}

.colors{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.grid {
    display: grid;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.settings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5em;
}

.erase {
    width: 100%;
    grid-column: 1 / 3;
}