*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    padding: 5%;
}

.controls {
    max-width: max-content;
}

.grid {
    display: grid;
}

.grid-item {
    border: 1px solid black;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}